.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  width: 10%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  margin: 0;
  font-family: Roboto; 
}
.wrapper{
  max-width: 960px;
  margin: 0 auto;
}
h1{
  color: #26478d;
  text-align: center;
}
footer{
  background: #eee;
  padding: 60px;
  margin-top: 60px;
}
form{
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  form {
    margin: 0 10%;
  }
}

label{
  display: block;
  font-weight: bold;
  font-size: 0.8em;
  color: #333;
  margin: 16px 0 6px;
}
input, select{
  padding: 6px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
.field{
  display: inline-block;
  margin: 0 10px;
}
.error-msg{
  color: #d9534f;
}